
:root{
    --orange: orange;
    --black: #333333;
    --grey: #eeeeee;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    
}

.wrapper{
    width: 80%;
    margin: auto;
}
