{% extends 'core/base.html' %}
{% load static %}

{% block page_title %} Reset Password {% endblock page_title %}

{% block body %}


<section class="wrapper">
    <h1>Password Reset Confirm </h1>

    <form method="POST">
        {% csrf_token %}
        <div>
            <!-- {{ contact_form.as_ul }} -->
            {% for field in form %}
                <label for="" style="color: red">{{ field.label }}</label>
                <div class="">
                    {{ field }}
                </div>
            {% endfor %}
        </div>
        <div>
            <button type="submit">Confirm</button>
        </div>
    </form>
</section>
{% endblock body%}